.select {
  appearance: none;
  background-image: url('./assets/svg/arrow.svg');   
  background-repeat: no-repeat;
  background-position: right 16px top 50%, 0 0;
}

.common-btn{
  background-image: linear-gradient(to right , #0071BB , #39A3E7);
}